<a href="https://colab.research.google.com/github/MarcoBrac/Test/blob/master/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
!head TABLA_MODELO_HIT_3.csv

CONTRATO,NUM_CLIENTE,BC_SCORE,COSECHA,EDAD,OCPUACION_SEXO,CUENTA_MAS_ANTIGUA_BANCO,MAX_MOP_6M_AB_TDC,CUENTA_MAS_ANTIGUA_TDC,SALDO_VENCIDO_ABIERTAS,MAX_MOP_6M,PORC_UTILIZ_ENTRE_CUENT_REV_AB,PRODUCTO,SUB_PRODUCTO,VINTAGE,AMOUNT,FLAG_1PV_3,FLAG_2PV_6,FLAG_3PV_12,FLAG_3PV_18,FLAG_DESEMBOLSADO
400015808,1953462,660,201505,37,C_CON NEGOCIO/F,31,NULL,NULL,0,9,NULL,OMEGA,OMEGA_M,201505,11728,0,1,1,1,1
400015823,772865,663,201505,64,F_JUBILADO/F,94,2,187,511,2,0.219478426,OMEGA,OMEGA_M,201505,17191,0,0,0,0,1
400015912,3873005,561,201505,41,A_CON NEGOCIO/M,28,NULL,NULL,4662,7,NULL,OMEGA,OMEGA_M,201505,5897,0,0,0,0,1
400015973,776366,724,201505,44,C_CON NEGOCIO/F,NULL,1,18,0,1,0.104229355,OMEGA,OMEGA_M,201505,8000,0,0,0,0,1
400014820,347497,713,201505,40,C_CON NEGOCIO/F,49,1,42,0,1,0.034421836,OMEGA,OMEGA_M,201505,29686,0,0,0,0,1
400018477,1011052,631,201506,53,B_EMPLEADO O ASALARIADO/M,NULL,1,137,48701,9,0,OMEGA,OMEGA_M,201506,13615,0,0,0,0,1
400018510,1800455250,661,201506,50,C_CON NEGOCIO/F,115,NULL,115,0,2,NULL,OMEGA,OMEGA_M,201506,31928,0,0,0,0,1
400021185,2964904,641,201507,63,C_CON NEGOCIO/F,293,1,443,0,1,0.148270095,OMEGA,OMEGA_M,201507,10264,0,0,0,0,1
400021193,1800703853,682,201507,44,A_CON NEGOCIO/M,26,NULL,NULL,0,1,NULL,OMEGA,OMEGA_M,201507,29174,0,0,0,1,1

In [0]:
from google.colab import files

In [25]:
 uploaded = files.upload()

Saving TABLA_MODELO_HIT_3.csv to TABLA_MODELO_HIT_3 (2).csv

In [0]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

In [0]:
df1 = pd.read_csv('TABLA_MODELO_HIT_3.csv' )

In [29]:
df1.head()

    CONTRATO  NUM_CLIENTE  ...  FLAG_3PV_18  FLAG_DESEMBOLSADO
0  400015808      1953462  ...            1                  1
1  400015823       772865  ...            0                  1
2  400015912      3873005  ...            0                  1
3  400015973       776366  ...            0                  1
4  400014820       347497  ...            0                  1

[5 rows x 21 columns]

In [0]:
df2 = df1.copy()

In [0]:
df2['edad_woe'] = df2.apply(bins_edad, axis=1)

In [32]:
df2.head()

    CONTRATO  NUM_CLIENTE  BC_SCORE  ...  FLAG_3PV_18  FLAG_DESEMBOLSADO  edad_woe
0  400015808      1953462       660  ...            1                  1  0.652557
1  400015823       772865       663  ...            0                  1 -0.862815
2  400015912      3873005       561  ...            0                  1  0.320722
3  400015973       776366       724  ...            0                  1  0.320722
4  400014820       347497       713  ...            0                  1  0.320722

[5 rows x 22 columns]

In [33]:
df2.columns

Index(['CONTRATO', 'NUM_CLIENTE', 'BC_SCORE', 'COSECHA', 'EDAD',
       'OCPUACION_SEXO', 'CUENTA_MAS_ANTIGUA_BANCO', 'MAX_MOP_6M_AB_TDC',
       'CUENTA_MAS_ANTIGUA_TDC', 'SALDO_VENCIDO_ABIERTAS', 'MAX_MOP_6M',
       'PORC_UTILIZ_ENTRE_CUENT_REV_AB', 'PRODUCTO', 'SUB_PRODUCTO', 'VINTAGE',
       'AMOUNT', 'FLAG_1PV_3', 'FLAG_2PV_6', 'FLAG_3PV_12', 'FLAG_3PV_18',
       'FLAG_DESEMBOLSADO', 'edad_woe'],
      dtype='object')

In [0]:
############################### OCUPACIÓN SEXO
def bins_ocup_sex(row):
    if  row.OCPUACION_SEXO == 'A_CON NEGOCIO/M':
        return 1*0.438337084334697
    elif row.OCPUACION_SEXO == 'B_EMPLEADO O ASALARIADO/M':
        return 1*0.245752537229401
    elif  row.OCPUACION_SEXO == 'C_CON NEGOCIO/F':
        return 1*-0.0986946259109583
    elif  row.OCPUACION_SEXO == 'D_EMPLEADO O ASALARIADO/F':
        return 1*-0.289297648037313
    elif  row.OCPUACION_SEXO == 'E_JUBILADO/M':
        return 1*-0.859435727384404
    else:
        return 1*-1.06300066767039

In [0]:
###############################EDAD
def bins_edad(row):
    if  row.EDAD <= 39:
        return 1*0.652557304203474
    elif row.EDAD <= 46:
        return 1*0.32072210601685
    elif  row.EDAD <= 51:
        return 1*-0.0297882009277696
    elif  row.EDAD <= 56:
        return 1*-0.249830551211539
    elif  row.EDAD <= 61:
        return 1*-0.776458288161244
    else:
        return -0.862815250709056

In [0]:
############################### máxima antigÜedad banco 
def bins_max_mob_bank(row):
    if  row.CUENTA_MAS_ANTIGUA_BANCO <= 36:
        return 1*0.4177579842355
    elif row.CUENTA_MAS_ANTIGUA_BANCO <= 59:
        return 1*0.204288134959686
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 76:
        return 1*0.079527302643976
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 104:
        return 1*-0.221813867785179
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 131:
        return 1*-0.474594512237555
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 499:
        return 1*-0.730039690708382
    else:
        return 1*0.347094881317897

In [0]:
################################## pct utilización
def bins_pct_util(row):
    if  row.PORC_UTILIZ_ENTRE_CUENT_REV_AB <= 0.150290638:
        return 1*-0.510375236153387
    elif row.PORC_UTILIZ_ENTRE_CUENT_REV_AB <= 140514:
        return 1*-0.223185206563544
    else:
        return 1*0.434261584221614

In [0]:
######################################## MÁXIMO MOP TDC

def bins_max_mop_6m_ab_tdc(row):
    if  row.MAX_MOP_6M_AB_TDC <= 1:
        return 1*-0.530853505755427
    elif row.MAX_MOP_6M_AB_TDC <= 9:
        return 1*-0.0515609497107696
    else:
        return 1*0.462116439985472

In [0]:
############################### máxima antigÜedad TDC 
def bins_max_mob_tdc(row):
    if  row.CUENTA_MAS_ANTIGUA_TDC <= 53:
        return 1*0.0872105802631326
    elif row.CUENTA_MAS_ANTIGUA_TDC <= 98:
        return 1*-0.151627060166407
    elif  row.CUENTA_MAS_ANTIGUA_TDC <= 137:
        return 1*-0.352600764658328
    elif  row.CUENTA_MAS_ANTIGUA_TDC <= 612:
        return 1*-0.669246976557249
    else:
        return 1*0.606962693925261

In [0]:
############################## saldo vencido
def bins_sdo_vncido(row):
    if  row.SALDO_VENCIDO_ABIERTAS <= 1:
        return 1*-0.205208313977855
    elif row.SALDO_VENCIDO_ABIERTAS <= 463253:
        return 1*0.46669257203569
    else:
        return 1*0.470424547454944

In [0]:
############################## max mop 6m
def bins_max_mop_6m(row):
    if  row.MAX_MOP_6M <= 1:
        return 1*-0.236896747716894
    elif row.MAX_MOP_6M <= 2:
        return 1*-0.0605113857847795
    elif row.MAX_MOP_6M <= 9:
        return 1*0.523800086179919
    else:
        return 1*0.303489425193646

In [0]:
df2['edad_woe'] = df2.apply(bins_edad, axis=1)

In [0]:
df2['ocup_sex_woe'] = df2.apply(bins_ocup_sex ,axis=1)

In [0]:
df2['max_mob_bank_woe'] = df2.apply(bins_edad, axis=1)

In [0]:
df2['pct_util_woe'] = df2.apply(bins_edad, axis=1)

In [0]:
df2['max_mop_6m_ab_tdc_woe'] = df2.apply(bins_max_mop_6m_ab_tdc, axis=1)

In [0]:
df2['max_mob_tdc_woe'] = df2.apply(bins_max_mob_tdc, axis=1)

In [0]:
df2['sdo_vncido_woe'] = df2.apply(bins_sdo_vncido, axis=1)

In [0]:
df2['max_mop_6m_woe'] = df2.apply(bins_max_mop_6m, axis=1)

In [51]:
df2.head(10)

    CONTRATO  NUM_CLIENTE  ...  sdo_vncido_woe  max_mop_6m_woe
0  400015808      1953462  ...       -0.205208        0.523800
1  400015823       772865  ...        0.466693       -0.060511
2  400015912      3873005  ...        0.466693        0.523800
3  400015973       776366  ...       -0.205208       -0.236897
4  400014820       347497  ...       -0.205208       -0.236897
5  400018477      1011052  ...        0.466693        0.523800
6  400018510   1800455250  ...       -0.205208       -0.060511
7  400021185      2964904  ...       -0.205208       -0.236897
8  400021193   1800703853  ...       -0.205208       -0.236897
9  400021250      1124604  ...       -0.205208       -0.236897

[10 rows x 29 columns]

In [0]:
df2 = df2[df2['EDAD'].isnull() == False]

In [0]:
df2 = df2[df2.COSECHA >= 201600]

In [0]:
df2.to_csv('tb_modelo_hit_woe')

In [0]:
######## REGRESIÓN

In [72]:
df2.columns

Index(['CONTRATO', 'NUM_CLIENTE', 'BC_SCORE', 'COSECHA', 'EDAD',
       'OCPUACION_SEXO', 'CUENTA_MAS_ANTIGUA_BANCO', 'MAX_MOP_6M_AB_TDC',
       'CUENTA_MAS_ANTIGUA_TDC', 'SALDO_VENCIDO_ABIERTAS', 'MAX_MOP_6M',
       'PORC_UTILIZ_ENTRE_CUENT_REV_AB', 'PRODUCTO', 'SUB_PRODUCTO', 'VINTAGE',
       'AMOUNT', 'FLAG_1PV_3', 'FLAG_2PV_6', 'FLAG_3PV_12', 'FLAG_3PV_18',
       'FLAG_DESEMBOLSADO', 'edad_woe', 'ocup_sex_woe', 'max_mob_bank_woe',
       'pct_util_woe', 'max_mop_6m_ab_tdc_woe', 'max_mob_tdc_woe',
       'sdo_vncido_woe', 'max_mop_6m_woe'],
      dtype='object')

In [0]:
##### x
x_n = df2[['edad_woe', 'ocup_sex_woe', 'max_mob_bank_woe','pct_util_woe', 'max_mop_6m_ab_tdc_woe', 'max_mob_tdc_woe','sdo_vncido_woe', 'max_mop_6m_woe']]

In [0]:
##### y 
y_ = df2[['FLAG_3PV_18']]

In [0]:
test1 = LogisticRegression(fit_intercept = True)

In [80]:
test1.fit(x_n , y_)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [116]:
test1.coef_.tolist()

[[0.20263429514433537,
  0.6935454941373286,
  0.20263429514433537,
  0.20263429514433537,
  0.3185156960963072,
  0.5421581641972483,
  0.36182021869310543,
  0.638545703983806]]

In [118]:
x_n.columns.tolist()

['edad_woe',
 'ocup_sex_woe',
 'max_mob_bank_woe',
 'pct_util_woe',
 'max_mop_6m_ab_tdc_woe',
 'max_mob_tdc_woe',
 'sdo_vncido_woe',
 'max_mop_6m_woe']

In [0]:
coefs_ = pd.DataFrame(test1.coef_.tolist(), columns = x_n.columns.tolist() )

In [133]:
coefs_

   edad_woe  ocup_sex_woe  ...  sdo_vncido_woe  max_mop_6m_woe
0  0.202634      0.693545  ...         0.36182        0.638546

[1 rows x 8 columns]

#**RANGOS**

In [0]:
############################### OCUPACIÓN SEXO
def bins_ocup_sex(row):
    if  row.OCPUACION_SEXO == 'A_CON NEGOCIO/M':
        return 'A_CON NEGOCIO/M'
    elif row.OCPUACION_SEXO == 'B_EMPLEADO O ASALARIADO/M':
        return 'B_EMPLEADO O ASALARIADO/M'
    elif  row.OCPUACION_SEXO == 'C_CON NEGOCIO/F':
        return 'C_CON NEGOCIO/F'
    elif  row.OCPUACION_SEXO == 'D_EMPLEADO O ASALARIADO/F':
        return 'D_EMPLEADO O ASALARIADO/F'
    elif  row.OCPUACION_SEXO == 'E_JUBILADO/M':
        return 'E_JUBILADO/M'
    else:
        return 'F_JUBILADO/F'

In [0]:
###############################EDAD
def bins_edad(row):
    if  row.EDAD <= 39:
        return 'A_20_A_39'
    elif row.EDAD <= 46:
        return 'B_40_A_46'
    elif  row.EDAD <= 51:
        return 'C_47_A_51'
    elif  row.EDAD <= 56:
        return 'D_52_A_56'
    elif  row.EDAD <= 61:
        return 'E_57_A_61'
    else:
        return 'F_62_A_86'

In [0]:
############################### máxima antigÜedad banco 
def bins_max_mob_bank(row):
    if  row.CUENTA_MAS_ANTIGUA_BANCO <= 36:
        return 'A_0_A_36'
    elif row.CUENTA_MAS_ANTIGUA_BANCO <= 59:
        return 'B_37_A_59'
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 76:
        return 'C_60_A_76'
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 104:
        return 'D_77_A_104'
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 131:
        return 'E_105_A_131'
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 499:
        return 'F_132_A_499'
    else:
        return 'G_SIN_INFORMACION'

In [0]:
################################## pct utilización
def bins_pct_util(row):
    if  row.PORC_UTILIZ_ENTRE_CUENT_REV_AB <= 0.150290638:
        return ''
    elif row.PORC_UTILIZ_ENTRE_CUENT_REV_AB <= 140514:
        return ''
    else:
        return ''

In [0]:
######################################## MÁXIMO MOP TDC

def bins_max_mop_6m_ab_tdc(row):
    if  row.MAX_MOP_6M_AB_TDC <= 1:
        return ''
    elif row.MAX_MOP_6M_AB_TDC <= 9:
        return ''
    else:
        return ''

In [0]:
############################### máxima antigÜedad TDC 
def bins_max_mob_tdc(row):
    if  row.CUENTA_MAS_ANTIGUA_TDC <= 53:
        return ''
    elif row.CUENTA_MAS_ANTIGUA_TDC <= 98:
        return ''
    elif  row.CUENTA_MAS_ANTIGUA_TDC <= 137:
        return ''
    elif  row.CUENTA_MAS_ANTIGUA_TDC <= 612:
        return ''
    else:
        return ''

In [0]:
############################## saldo vencido
def bins_sdo_vncido(row):
    if  row.SALDO_VENCIDO_ABIERTAS <= 1:
        return ''
    elif row.SALDO_VENCIDO_ABIERTAS <= 463253:
        return ''
    else:
        return ''

In [0]:
############################## max mop 6m
def bins_max_mop_6m(row):
    if  row.MAX_MOP_6M <= 1:
        return ''
    elif row.MAX_MOP_6M <= 2:
        return ''
    elif row.MAX_MOP_6M <= 9:
        return ''
    else:
        return ''