<a href="https://colab.research.google.com/github/MarcoBrac/Test/blob/master/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!head TABLA_MODELO_HIT_3.csv

CONTRATO,NUM_CLIENTE,BC_SCORE,COSECHA,EDAD,OCPUACION_SEXO,CUENTA_MAS_ANTIGUA_BANCO,MAX_MOP_6M_AB_TDC,CUENTA_MAS_ANTIGUA_TDC,SALDO_VENCIDO_ABIERTAS,MAX_MOP_6M,PORC_UTILIZ_ENTRE_CUENT_REV_AB,PRODUCTO,SUB_PRODUCTO,VINTAGE,AMOUNT,FLAG_1PV_3,FLAG_2PV_6,FLAG_3PV_12,FLAG_3PV_18,FLAG_DESEMBOLSADO
400015808,1953462,660,201505,37,C_CON NEGOCIO/F,31,NULL,NULL,0,9,NULL,OMEGA,OMEGA_M,201505,11728,0,1,1,1,1
400015823,772865,663,201505,64,F_JUBILADO/F,94,2,187,511,2,0.219478426,OMEGA,OMEGA_M,201505,17191,0,0,0,0,1
400015912,3873005,561,201505,41,A_CON NEGOCIO/M,28,NULL,NULL,4662,7,NULL,OMEGA,OMEGA_M,201505,5897,0,0,0,0,1
400015973,776366,724,201505,44,C_CON NEGOCIO/F,NULL,1,18,0,1,0.104229355,OMEGA,OMEGA_M,201505,8000,0,0,0,0,1
400014820,347497,713,201505,40,C_CON NEGOCIO/F,49,1,42,0,1,0.034421836,OMEGA,OMEGA_M,201505,29686,0,0,0,0,1
400018477,1011052,631,201506,53,B_EMPLEADO O ASALARIADO/M,NULL,1,137,48701,9,0,OMEGA,OMEGA_M,201506,13615,0,0,0,0,1
400018510,1800455250,661,201506,50,C_CON NEGOCIO/F,115,NULL,115,0,2,NULL,OMEGA,OMEGA_M,201506,31928,0,0,0,0,1
400021185,2964904,641,201507,63,C_CON NEGOCIO/F,293,1,443,0,1,0.148270095,OMEGA,OMEGA_M,201507,10264,0,0,0,0,1
400021193,1800703853,682,201507,44,A_CON NEGOCIO/M,26,NULL,NULL,0,1,NULL,OMEGA,OMEGA_M,201507,29174,0,0,0,1,1

In [0]:
from google.colab import files

In [0]:
## uploaded = files.upload()

In [0]:
import pandas as pd
import numpy as np

In [0]:
df1 = pd.read_csv('TABLA_MODELO_HIT_3.csv' )

In [10]:
df1.head()

    CONTRATO  NUM_CLIENTE  ...  FLAG_3PV_18  FLAG_DESEMBOLSADO
0  400015808      1953462  ...            1                  1
1  400015823       772865  ...            0                  1
2  400015912      3873005  ...            0                  1
3  400015973       776366  ...            0                  1
4  400014820       347497  ...            0                  1

[5 rows x 21 columns]

In [0]:
df2 = df1.copy()

In [0]:
df2['edad_woe'] = df2.apply(bins_edad, axis=1)

In [12]:
df2.head()

    CONTRATO  NUM_CLIENTE  ...  FLAG_3PV_18  FLAG_DESEMBOLSADO
0  400015808      1953462  ...            1                  1
1  400015823       772865  ...            0                  1
2  400015912      3873005  ...            0                  1
3  400015973       776366  ...            0                  1
4  400014820       347497  ...            0                  1

[5 rows x 21 columns]

In [20]:
df2.columns

Index(['CONTRATO', 'NUM_CLIENTE', 'BC_SCORE', 'COSECHA', 'EDAD',
       'OCPUACION_SEXO', 'CUENTA_MAS_ANTIGUA_BANCO', 'MAX_MOP_6M_AB_TDC',
       'CUENTA_MAS_ANTIGUA_TDC', 'SALDO_VENCIDO_ABIERTAS', 'MAX_MOP_6M',
       'PORC_UTILIZ_ENTRE_CUENT_REV_AB', 'PRODUCTO', 'SUB_PRODUCTO', 'VINTAGE',
       'AMOUNT', 'FLAG_1PV_3', 'FLAG_2PV_6', 'FLAG_3PV_12', 'FLAG_3PV_18',
       'FLAG_DESEMBOLSADO', 'edad_woe'],
      dtype='object')

In [0]:
############################### OCUPACIÓN SEXO
def bins_ocup_sex(row):
    if  row.OCPUACION_SEXO == 'A_CON NEGOCIO/M':
        return 1*0.438337084334697
    elif row.OCPUACION_SEXO == 'B_EMPLEADO O ASALARIADO/M':
        return 1*0.245752537229401
    elif  row.OCPUACION_SEXO == 'C_CON NEGOCIO/F':
        return 1*-0.0986946259109583
    elif  row.OCPUACION_SEXO == 'D_EMPLEADO O ASALARIADO/F':
        return 1*-0.289297648037313
    elif  row.OCPUACION_SEXO == 'E_JUBILADO/M':
        return 1*-0.859435727384404
    else:
        return 1*-1.06300066767039

In [0]:
###############################EDAD
def bins_edad(row):
    if  row.EDAD <= 39:
        return 1*0.652557304203474
    elif row.EDAD <= 46:
        return 1*0.32072210601685
    elif  row.EDAD <= 51:
        return 1*-0.0297882009277696
    elif  row.EDAD <= 56:
        return 1*-0.249830551211539
    elif  row.EDAD <= 61:
        return 1*-0.776458288161244
    else:
        return -0.862815250709056

In [0]:
############################### máxima antigÜedad banco 
def bins_max_mob_bank(row):
    if  row.CUENTA_MAS_ANTIGUA_BANCO <= 36:
        return 1*0.4177579842355
    elif row.CUENTA_MAS_ANTIGUA_BANCO <= 59:
        return 1*0.204288134959686
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 76:
        return 1*0.079527302643976
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 104:
        return 1*-0.221813867785179
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 131:
        return 1*-0.474594512237555
    elif  row.CUENTA_MAS_ANTIGUA_BANCO <= 499:
        return 1*-0.730039690708382
    else:
        return 1*0.347094881317897

In [0]:
################################## pct utilización
def bins_pct_util(row):
    if  row.PORC_UTILIZ_ENTRE_CUENT_REV_AB <= 0.150290638:
        return 1*-0.510375236153387
    elif row.PORC_UTILIZ_ENTRE_CUENT_REV_AB <= 140514:
        return 1*-0.223185206563544
    else:
        return 1*0.434261584221614

In [0]:
######################################## MÁXIMO MOP TDC

def bins_max_mop_tdc(row):
    if  row.MAX_MOP_6M_AB_TDC <= 1:
        return 1*-0.530853505755427
    elif row.MAX_MOP_6M_AB_TDC <= 9:
        return 1*-0.0515609497107696
    else:
        return 1*0.462116439985472

In [0]:
############################### máxima antigÜedad TDC 
def bins_max_mob_tdc(row):
    if  row.CUENTA_MAS_ANTIGUA_TDC <= 53:
        return 1*0.0872105802631326
    elif row.CUENTA_MAS_ANTIGUA_TDC <= 98:
        return 1*-0.151627060166407
    elif  row.CUENTA_MAS_ANTIGUA_TDC <= 137:
        return 1*-0.352600764658328
    elif  row.CUENTA_MAS_ANTIGUA_TDC <= 612:
        return 1*-0.669246976557249
    else:
        return 1*0.606962693925261

In [0]:
############################## saldo vencido
def bins_sdo_vncido(row):
    if  row.SALDO_VENCIDO_ABIERTAS <= 1:
        return 1*-0.205208313977855
    elif row.SALDO_VENCIDO_ABIERTAS <= 463253:
        return 1*0.46669257203569
    else:
        return 1*0.470424547454944

In [0]:
############################## max mop 6m
def bins_sdo_vncido(row):
    if  row.MAX_MOP_6M <= 1:
        return 1*-0.205208313977855
    elif row.MAX_MOP_6M <= 463253:
        return 1*0.46669257203569
    else:
        return 1*0.470424547454944

In [16]:
df2.head(10)

    CONTRATO  NUM_CLIENTE  BC_SCORE  ...  FLAG_3PV_18  FLAG_DESEMBOLSADO  edad_woe
0  400015808      1953462       660  ...            1                  1  0.652557
1  400015823       772865       663  ...            0                  1 -0.862815
2  400015912      3873005       561  ...            0                  1  0.320722
3  400015973       776366       724  ...            0                  1  0.320722
4  400014820       347497       713  ...            0                  1  0.320722
5  400018477      1011052       631  ...            0                  1 -0.249831
6  400018510   1800455250       661  ...            0                  1 -0.029788
7  400021185      2964904       641  ...            0                  1 -0.862815
8  400021193   1800703853       682  ...            1                  1  0.320722
9  400021250      1124604       695  ...            0                  1  0.320722

[10 rows x 22 columns]